<!DOCTYPE html>
<html>
<head>
  <title>Site - BackOffice</title>
  <%= stylesheet_link_tag    "bo/application", :media => "all" %>
  <%= javascript_include_tag "bo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user %>
    <p>
      <%= "Signed in as #{current_user.email}. Not you?, " %>
      <%= link_to "Sign out", logout_path %>, 
      <%= link_to "Public home", root_path %>
    </p>
  <% else %>
    <p>
      <%= link_to "Sign in", login_path %>
    </p>
  <% end %>
</div>

<p>Notice: <%= notice %></p>

<hr />


<%= yield %>

</body>
</html>
